body {
    background-color: rgb(35, 59, 51) !important;
}

@media (min-width:601px) and (max-width: 1024px) {
    body{
        background-color: beige !important;
    }
}

@media (min-width: 1025px) {
    body{
        background-color:blueviolet !important;
    }
}
